{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!-- SLIDER -->
    <section id="slider" class="fullheight">
        <div class="display-table">
            <div class="display-table-cell vertical-align-middle">
                <div class="container-fluid">

                    <div class="slider-featured-text text-center">
                        <h1 class=" wow fadeInUp" data-wow-delay="0.4s">
                            Professional Cam
                        </h1>
                        <h2 class="weight-300  wow fadeInUp" data-wow-delay="0.8s">up to 30% until 31 December</h2>
                        <a class="btn btn-primary btn-lg wow fadeInUp" data-wow-delay="1s" href="#">PURCHASE NOW</a>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <!-- /SLIDER -->
{% endblock %}
